.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
}

.select {
    display: flex;
    padding: 2% 0 3% 5%;
    height: 5%;
    min-height: 24px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.spacer {
    display: flex;
    padding-top: 10%;
    width: 100%;
}
