.sideBar {
    height: 100%;
    background: #26282B;
    box-shadow: 1px 0px 3px rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 40%;
    min-width: 200px;
    max-width: 400px;
    z-index: 20;
    transform: translateX(-100%);
    transition: transform 0.3s ease-out;
}

.sideBar.open {
    transform: translateX(0);
}

.ul {
    height: 100%;
    list-style: none;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0px;
}
